@charset "utf-8"

@import "https://fonts.googleapis.com/css?family=Montserrat:200,400"
@import "https://fonts.googleapis.com/earlyaccess/notosansethiopic.css"
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"

@import "utilities/initial-variables"

$family-sans-serif: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif

@import "utilities/_all"
@import "base/_all"
@import "elements/_all"
@import "components/_all"
@import "grid/_all"
@import "layout/_all"

#photo
  background-image: url(/assets/images/hmml.jpg)
  background-size: cover
  background-position: center center
  float: left
  height: 7.5rem
  width: 7.5rem
  margin-right: 10px

.hero.is-light.is-fullheight .container
  h1.title
    font-weight: 400
    font-size: 4rem
    margin-bottom: 0
    .button-row
      margin-top: 5px

  h2.subtitle
    font-weight: 200
    font-size: 2rem
    a
      color: $black-ter
      border-bottom-width: 1px
      border-bottom-color: $black-ter
      border-bottom-style: solid