---
---

@import "bulma";

$light: hsl(0, 0%, 96%);

html, body{
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  overscroll-behavior: none;
}

a{
  border-bottom: 1px solid $light;
}

figure.image{
  border: 1px solid $light;
  padding: 4px;
  border-radius: 4px;
  margin: 8px;
}