<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Curriculum Vitae - Augustine Dickinson">
  <meta name="keywords" content="Augustine Dickinson">
  <title>Curriculum Vitae - Augustine Dickinson</title>
  <link rel="icon" type="image/png" href="/assets/images/favi.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.min.css" integrity="sha256-1nEaE91OpXJD7M6W5uSiqxhdmrY+lOOTHC1iUxU9Pds=" crossorigin="anonymous" />
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </section>
</body>
</html>
