<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Augustine Dickinson">
  <meta name="keywords" content="Augustine Dickinson">
  <title>Augustine Dickinson</title>
  <link rel="icon" type="image/png" href="/assets/images/favicon.png">
  <link rel="stylesheet" href="/assets/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <section class="hero is-dark is-bold is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-1-desktop is-2-tablet">
            <figure class="image is-square"><img src="/assets/images/hmml.jpg" class="is-pulled-left"></figure>
            <p class="buttons">
              <a class="button is-light is-outlined" href="mailto:augustine.dickinson@icloud.com">
                <span class="icon is-small"><i class="fas fa-envelope"></i></span>
              </a>
              <a class="button is-light is-outlined" href="https://twitter.com/_smaugustine">
                <span class="icon is-small"><i class="fab fa-twitter"></i></span>
              </a>
              <a class="button is-light is-outlined" href="https://utoronto.academia.edu/smaugustine">
                <span class="icon is-small"><i class="fas fa-font"></i></span>
              </a>
              <a class="button is-light is-outlined" href="https://github.com/smaugustine">
                <span class="icon is-small"><i class="fab fa-github"></i></span>
              </a>
            </p>
          </div>
          <div class="column is-10">
            <h1 class="title">
              Augustine Dickinson
            </h1>
            <h2 class="subtitle">
              {{ content }}
            </h2>
          </div>
        </div>       
      </div>
    </div>
  </section>
</body>
</html>
